@media (min-width: 768px) {
  .App{
    height: 970px;
    .content{
      width: 750px;
      margin: 30px auto ;
      .left{

      }
      .right{

      }
    }
  }
}

@media (min-width: 992px) {
  .App{
    height: 970px;
    .content{
      width: 970px;
      margin: 30px auto ;
      .left{

      }
      .right{

      }
    }
  }
}

@media (min-width: 1200px) {
  .App{
    height: 1000px;
    .content{
      width: 1140px;
      margin: 30px auto ;
      .left-part{
        float: left;
        width: 75%;
      }
      .right-part{
        float: right;
        width: 250px;
        height: 400px;
        background-color: #93a1a1;
      }
    }
  }
}




